<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.miraclelist" version="0.6.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MiracleList Cordova</name>
    <description>
        MiracleList Cordova Client
    </description>
    <author email="buero@IT-Visions.de" href="http://www.IT-Visions.de">
        Dr. Holger Schwichtenberg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="mdpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="hdpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="xhdpi" src="assets/MiracleListLogo_ohneText.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon density="ldpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="mdpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="hdpi" src="assets/MiracleListLogo_ohneText.png" />
        <icon density="xhdpi" src="assets/MiracleListLogo_ohneText.png" />
    </platform>
    <preference name="windows-target-version" value="10.0" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="windows" spec="~5.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
