<div class="row">
    <!-- ### Spalte 1: Kategorien-->
    <div class="col-xs-4 col-lg-2 WLPanel" *ngIf="categorySet">

        <!-- ---------- Überschrift-->
        <h4 style="margin: 0px">{{categorySet.length+1}} Kategorien</h4>
        <!-- ---------- neue Kategorie eingeben-->
        <input type="text" class="form-control" name="newCategoryName" [(ngModel)]="newCategoryName" (change)="createCategory()" placeholder="neue Kategorie...">
        <a (click)="getDueTaskSet()" class="list-group-item" [style.background-color]="displayMode == 1 ? '#E0EEFA' : 'white'">Fällige Aufgaben
 <span class="badge badge-info" title="{{dueTaskSetCount}} fällige Aufgaben">{{dueTaskSetCount}}</span>
         </a>
        <!-- ---------- Kategorieliste ausgeben-->
        <div class="list-group">
            <a *ngFor="let c of categorySet" (click)="selectCategory(c)" title="Kategorie #{{c.categoryID }}, erzeugt am {{ c.created | amDateFormat: 'LLL'}}" class="list-group-item" [style.background-color]="category && c.categoryID == category?.categoryID ? '#E0EEFA' : 'white'"
                [contextMenu]="categoryMenu" [contextMenuSubject]="c">{{ c.name }}

     <span class="badge badge-info" title="{{c.taskSet.length}} Aufgaben">{{c.taskSet.length}}</span></a>
            <input type="text" class="form-control" name="search" [(ngModel)]="searchText" [style.background-color]="displayMode == 2 ? '#E0EEFA' : 'white'" (change)="search()" placeholder="suche...">
        </div>
    </div>
    <!-- ### Spalte 2: Aufgaben-->
    <div *ngIf="taskSet" [ngClass]="{'col-xs-8 col-lg-10 WLPanel': !task, 'col-xs-4 col-lg-6 WLPanel': task}">
        <!-- ---------- Überschrift-->
        <h4 style="margin: 0px">{{taskSet.length}} Aufgaben in Kategorie {{category.name}}</h4>
        <!-- ---------- neue Aufgaben eingeben-->
        <input type="text" class="form-control" name="newTaskTitle" [(ngModel)]="newTaskTitle" (change)="createTask()" placeholder="neue Aufgabe...">
        <!-- ---------- Aufgabenliste ausgeben-->
        <div class="list-group" dnd-sortable-container [sortableData]="taskSet">
            <!-- ---------- eine Aufgabe im Block ausgeben-->
            <a *ngFor="let t of taskSet; let i = index" dnd-sortable [sortableIndex]="i" (drop)="reorder(t, i)" (click)="showTaskDetail(t)" title="Aufgabe #{{t.taskID }}, erzeugt am {{ t.created | amDateFormat: 'LLL'}}" class="list-group-item" [style.background-color]="t.taskID == task?.taskID ? '#E0EEFA' : 'white'"
                [contextMenu]="taskMenu" [contextMenuSubject]="t">
                <input type="checkbox" [(ngModel)]="t.done" (change)="changeDone(t)" name="done{{t.taskID}}" id="done{{t.taskID}}" class="form-control WLcheckbox"> <b>{{ t.title }} </b>
                <span class="badge badge-important" title="Wichtigkeit: {{t.importance | importance}}">{{t.importance | importance}}</span><br>
                <div>{{getUndoneSubTaskSet(t).length}} offene Teilaufgaben</div>
                <div *ngIf="t.due" [ngClass]="{'text-danger': t.due<today, 'text-warning': t.due==today, 'text-success':t.due>today}">fällig {{t.due | amTimeAgo}}</div>
            </a>
        </div>
    </div>
    <!-- ### Spalte 2: Suchergebnisse/fällige Termine (fallweise einblendet. tlw. Codeduplikat :-( ))-->
    <div [ngClass]="{'col-xs-8 col-lg-10 WLPanel': !task, 'col-xs-4 col-lg-6 WLPanel': task}" *ngIf="categorySetWithTaskSet">
        <h4 style="margin: 0px">Suchergebnisse in {{categorySetWithTaskSet.length}} Kategorien</h4>
        <div *ngFor="let c of categorySetWithTaskSet">
            <h5><a (click)="selectCategory(c?.categoryID)">{{c.name}}</a></h5>
            <div class="list-group">
                <form class="form-inline">
                    <div class="list-group">
                        <a *ngFor="let t of c.taskSet" (click)="showTaskDetail(t)" title="Aufgabe #{{t.taskID }}, erzeugt am {{ t.created | amDateFormat: 'LLL'}}" class="list-group-item" [style.background-color]="t.taskID == task?.taskID ? '#E0EEFA' : 'white'" [contextMenu]="taskMenu"
                            [contextMenuSubject]="t">
                            <input type="checkbox" [(ngModel)]="t.done" (change)="changeDone(t)" [ngModelOptions]="{standalone:true}" name="done{{t.taskID}}" id="done2{{t.taskID}}" class="form-control WLcheckbox"> <b>{{ t.title }} </b>
                            <span class="badge badge-important" title="Wichtigkeit: {{t.importance | importance}}">{{t.importance | importance}}</span><br>
                            <div>{{getUndoneSubTaskSet(t).length}} offene Teilaufgaben</div>
                            <div *ngIf="t.due" [ngClass]="{'text-danger': t.due<today, 'text-warning': t.due==today, 'text-success':t.due>today}">fällig {{t.due | amTimeAgo}}</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ############################## Kontextmenü für Kategorien in Spalte 1-->
    <context-menu #categoryMenu>
        <template contextMenuItem let-item (execute)="deleteCategory($event.item?.categoryID)">
   <span class="glyphicon glyphicon-remove " aria-hidden="true"></span> <b>Lösche Kategorie:</b> {{item.name}}
  </template>
    </context-menu>
    <!-- ############################## Kontextmenü für Aufgaben in Spalte 2-->
    <context-menu #taskMenu>
        <template contextMenuItem let-item (execute)="editTask($event.item)">
   <span class="glyphicon glyphicon-pencil " aria-hidden="true"></span> <b>Bearbeite Aufgabe:</b> {{item.title}}
  </template>
        <template contextMenuItem let-item (execute)="deleteTask($event.item)">
   <span class="glyphicon glyphicon-remove " aria-hidden="true"></span> <b>Lösche Aufgabe:</b> {{item.title}}
  </template>
    </context-menu>
    <!-- ### Spalte 3: Aufgabendetails-->
    <div class="col-xs-4 col-lg-4 WLPanel" [hidden]="!task">
        <router-outlet name="column3">
            <!--View:
        <TaskView [task]="task"></TaskView>

        Edit:
        <TaskEdit [task]="task" (taskChangedEvent)="onTaskChanged($event)"></TaskEdit>-->
        </router-outlet>
    </div>
</div>
<!--Ende row-->